@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #eaecef;
}

.header{
  padding: 30px;
  background-color: #7e7e7e;
  height: 20px;
  border-bottom: 0.1px solid white;
  background-image: linear-gradient(to right,rgb(97, 99, 104),rgb(69, 71, 76),rgb(52, 52, 55));
  display: flex;
  align-items: center;
}

.sidenav{
  width: 240px;
  background-image: linear-gradient(to right,rgb(97, 99, 104),rgb(69, 71, 76));
  position: absolute;
  height: 89.2vh;
  padding: 0 30px;
  left: -100%;
  transition: all 0.2s ease-in-out;
  transition-duration: 300;
  z-index: 3;
}
.sidenav.active{
  left: 0;
}

.logo__main{
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.logo{
  padding-left: 10px;
  width: 40px;
  cursor: pointer;
}
.logo:active{
  border-radius: 50%;
  background-color: rgb(127, 127, 127);
  transition: 0.02s all ease-in-out;
}

.logo__text{
  margin-left: 12px;
  font-weight: 600;
}

.banner{
  margin-top: 50px;
}

ul{
  padding: 0;
}

ul,li{
  list-style: none;
  margin: 10px 0;
}

ul li a{
  color: #eaecef;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
}

ul li a:hover,
ul li a:active{
  transition: all 0.2s ease-in-out;
  background-color: rgb(100, 100, 100);
  color: white;
  font-size: 18px;
}

header svg{
  font-size: 40px;
}

.header_in{
  width: 90%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 39px;
}

.mainLogo{
  width: 70px;
  height: 70px;
}

.rigth{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pointer{
  cursor: pointer;
}

.mainBanner{
  margin-top: 0;
  width: 100%;
  height: 89.2vh;
  background-color: rgb(209, 209, 209);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_study{
  width: 60%;
  height: 70vh;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 1rem 1rem -0.7rem rgb(0,0,0,0.4);
  text-align: center;
}
.timer{
  color:rgb(52, 52, 55);
  padding: 20px;
}
.table{
  display: flex;
  align-items: center;
  justify-content: center;
}
.bigDate{
  font-size: 80px;
  color: skyblue;
}
.bigDate2{
  font-size: 80px;
  color: rgb(6, 130, 179);
}
.buttonC{
  border: none;
  border-radius: 10px;
  color:rgb(52, 52, 55);
  padding: 15px 30px 15px 30px;
  margin: 0 20px 0 20px;
}

.main_Banner{
  width: 70%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 1rem 1rem -0.7rem rgb(0,0,0,0.4);
  text-align: center;
  color:rgb(52, 52, 55);
  padding: 20px;
}

.input{
  flex: 10;
  width: 40vw;
  height: 30px;
  padding: 5px;
  margin-right: 10px;
  border-radius: 3px;
  border: 0.1px solid rgb(224, 224, 224);
}
.btn{
  flex: 2;
  padding: 0 20px 0 20px;
  line-height: 1;
  border-radius: 3px;
  border: 0.1px solid gray;
  border: 0.1px solid rgb(224, 224, 224);
  height: 45px;
}
.btn2{
  border-radius: 50%;
  background-color: #a1a1a1;
  width: 30px;
  height: 30px;
  border: none;
  color: white;
  float: right;
}


.center{
  margin-bottom: 50px;
  color:rgb(52, 52, 55);
}

.matop{
  width: 40vw; 
  padding: 50px 0 20px 0px;
  margin: 0 auto;
}

.left{
  float: left;
  margin-left: 20px;
}

.board{
  width: 100%;
  height: 89.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a1a1a1;
}
.kst{
  border-radius: 20px;
  width: 70vw;
  height: 70vh;
  box-shadow: 0 1rem 1rem -0.7rem rgb(0,0,0,0.4);
}
.center2{
  position: absolute;
  color:#232323;
  margin-bottom: 620px;
}